/* colors : #5ca9fb #6372ff #231E39*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  overflow-x: hidden !important;
}
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  -webkit-padding: 0;
  -moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */

.logo {
  width: 30px;
  height: auto;
}
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu .container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu .brandlogo {
  height: calc(100% + 20px);
  padding: auto;
  padding-left: 50px;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 24, 44);
  font-size: 15px;
  font-weight: 700;
  padding: 8px 2px;
  border-radius: 0;
  margin: 0px 10px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #1181b1 0%, #00aeef 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #1181b1 0%, #00aeef 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 50px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #00aeef 0%, #1181b1 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #00aeef;
  background-image: linear-gradient(to right, #00aeef 0%, #1181b1 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #1181b1;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Team/members Section */
.card--badge {
  position: absolute;
  top: 6px;
  right: 10px;
  background-color: white;
  color: #1181b1;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.team-hero-year {
  display: block;
  font-size: 40px;
  font-weight: 500;
}
#ourteam {
  margin-top: 70px;
  transition: all 100ms;
}

#ourteam * {
  box-sizing: border-box;
}

#ourteam .container {
  padding: 50px 120px;
  width: 100%;
}

#ourteam .container.odd {
  background-color: rgb(243, 243, 243);
}
/* #ourteam .ciieiroff {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
#ourteam .ciieir {
  padding: 0px 20px;
}
#ourteam .OfficeName {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
#ourteam .OfficePost {
  text-transform: uppercase;
  margin: auto;
  /* font-size: 18px; */
  /* margin-top: 10px; */
}

#ourteam h2 {
  display: block;
  width: max-content;
  margin: auto;
}

#ourteam h3 {
  color: #f0f1f7;
  margin: 10px 0;
  font-size: 18px;
  text-transform: uppercase;
}

#ourteam h6 {
  margin: 5px 0;
  font-size: 12px;
  text-transform: uppercase;
}

#ourteam p {
  font-size: 14px;
  line-height: 21px;
}
/* #ourteam #row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
#ourteam .card-container {
  display: inline-block;
  background: linear-gradient(to bottom, #00182c 33%, #00aeef 20%, #1181b1 67%);
  background: linear-gradient(to top, #00aeef 67%, #bcdfec 33%);
  background: linear-gradient(to bottom, #00aeef 30%, #1181b1 100%);
  /* background: rgb(0, 24, 44); */
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #f0f1f7;
  padding: 40px 0px 40px 0px;
  position: relative;
  width: 250px;
  height: 330px;
  max-width: 100%;
  text-align: center;
  margin: 40px 20px;
  transition: 00.5s ease-in-out;
}
#ourteam .card-container:hover {
  /* background: linear-gradient(to top, #00AEEF 67%, #bcdfec 33%); */
  /* background: linear-gradient(to bottom, #00AEEF 30%, #1181B1 100%);
	background: linear-gradient(to bottom, #00182C 33%, #00AEEF 20%, #1181B1 67%); */
  transition: 0.3s all;
  transform: scale(1.1);
}
#ourteam .fa {
  padding: auto;
  font-size: 16px;
  transition: all 100ms;
}

#ourteam .card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

#ourteam .card-container .round {
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgba(250, 247, 247, 0.79);
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  object-fit: cover;
  width: 140px;
  height: 140px;
  margin-bottom: 15px;
}

#ourteam button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #f7f7fb;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

#ourteam button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

#ourteam .skills {
  text-align: center;
  padding: 15px;
  margin-top: 3px;
}

#ourteam .skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ourteam .skills ul li {
  border: 1px solid #f8f8fb;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 12px;
  margin: 0px 15px 15px 0px;
  padding: 9px;
  transition: all 100ms;
}

#ourteam .skills ul li:hover {
  background-color: white;
  color: #00aeef;
}
.intro-ourteam {
  display: table;
  width: 100%;
  padding: 0;
  background-color: #e5e5e5;
  
}
#ourteam .intro-ourteam { 
  background: url(../img/ENGEN-01.jpg) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.overlay-ourteam {
  background: #00000059;
}
.intro-ourteam h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro-text {
  padding-top: 140px;
  padding-bottom: 130px;
  text-align: center;
}

/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/header-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: #00000081;
}

#header .social-media-list {
  position: absolute;
  bottom: 10px;
  right: 15px;
  /* display: flex; */
}
.social-media-list li {
  /* border: 1px solid #f8f8fb; */
  color: white;
  border-radius: 15%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin: 0px 10px 10px 0px;
  /* padding: 9px; */
  transition: all 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-list li:hover {
  /* background-color: white; */
  color: #00aeef;
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ea8f7;
}
.intro p {
  color: #fff;
  font-size: 1.375em;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.intro #IITI {
  font-size: 2em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.intro #quote {
  font-weight: 2em;
  font-style: italic;
  padding-top: 20px;
}
header .intro-text {
  padding-top: 250px;
  padding-bottom: 200px;
  text-align: center;
}
/* events Section */
#events,
#mentor {
  background: #a8e8ff60;
}
#events {
  padding: 100px 0px 50px 0px;
}
#events i.fa {
  font-size: 2.375em;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #1181b1 0%, #00aeef 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#events #desc {
  text-align: justify;
}
/* About us -Vision Section */
#about {
  padding: 100px 0;
}
#about h3,
#aboutnew h3 {
  font-size: 2em;
  margin: 0 0 20px;
}
#about h2,
#aboutnew h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after,
#aboutnew h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #00aeef 0%, #1181b1 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li,
#aboutnew .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before,
#aboutnew .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #00aeef;
  font-size: 0.6875em;
  font-weight: 300;
  padding-right: 0px;
}
#about img,
#aboutnew img {
  width: 520px;
  /* margin-top: 10px; */
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p,
#aboutnew p {
  line-height: 24px;
  margin: 30px 0;
}
#about .imageabout,
#aboutnew .imageabout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#about .alignpho,
#aboutnew .alignpho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*  What we do Section */
.whatWeDo {
  margin: 50px;
  margin-bottom: 40px;
  width: 420px;
  overflow: auto;
  height: max-content;
}

#whatWeDoContainer {
  padding: 150px 0 50px 0px;
  background: rgb(0, 24, 44);
  color: #fff;
}
#whatWeDoContainer .row {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  justify-content: center;
}
#whatWeDoContainer .whatWeDo-desc {
  margin: 10px 10px 20px;
}
#whatWeDoContainer .whatWeDo-desc p {
  text-align: justify;
}
#whatWeDoContainer h2 {
  color: #fff;
  margin-top: -30px;
}
#whatWeDoContainer .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#whatWeDoContainer i.fa {
  font-size: 40px;
  width: 80px;
  height: 80px;
  padding: 20px;
  background: linear-gradient(to right, #1181b1 0%, #00aeef 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#whatWeDoContainer h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#whatWeDoContainer p {
  color: rgba(255, 255, 255, 0.75);
  text-align: justify;
}
#whatWeDoContainer .whatWeDo-desc {
  margin-bottom: 40px;
}

/*  Previous Partener Section */
#partners {
  padding: 60px 0px 50px 0px;
}
.partners-item {
  margin: auto;
  padding: 0;
  width: 15.265em;
  height: auto;
}
#partners .partners-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.partners-title {
  padding-top: 1em;
}
/* .partners-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
} */
/* .hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.336);
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
} */
/* .hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
} */
/* .hover-bg:hover .hover-text {
  opacity: 1;
} */
/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Mentors Section */
#mentors {
  padding: 100px 0px;
  background: #a8e8ff60;
}
#mentors .mentor {
  display: flex;
  justify-content: center;
  width: fit-content;
}
#mentors .mentor img {
  border-radius: 5%;
  box-shadow: rgba(51, 51, 51, 0.418) 0 0 5px 3px;
  width: 13.75em;
  height: 13.75em;
}
#mentors h4 {
  margin: 0.3125em 0;
}
#mentors .container {
  display: flex;
  flex-direction: column;
}
#mentors #row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#mentors .mentor-img {
  width: 15em /*240px*/;
}
#mentors .thumbnail {
  background: transparent;
  border: 0;
}
#mentors .thumbnail .caption {
  padding: 0.625em 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 10px;
  background: linear-gradient(to bottom, rgb(0, 24, 44) 0%, rgb(0, 0, 0) 100%);
  color: rgba(255, 255, 255, 0.75);
}
#contact #msg {
  width: max-content;
  margin: auto;
  background-color: #65c18c;
  padding: 5px 10px 7px 10px;
  border-radius: 10px;
  color: rgb(245, 237, 237);
  font-size: 17px;
  font-weight: 400;
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 1em;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 0.75em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* Footer Section*/
#copyright {
  margin: 1.875em auto 0;
}

#footer p {
  color: #888;
  font-size: 0.875em;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 0.125em solid #608dfd;
}

/* Gallery */

#gallery {
  margin-top: 70px;
}
#gallery .intro-ourteam { 
  background: url(../img/gallery-hero.webp) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding:12px;
}

.gallery .pics {
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  cursor: pointer;
  margin-bottom: 12px;
}

.gallery .pics:hover {
  filter: opacity(0.6);
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all .4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.modal.isOpen {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.modal.isOpen svg {
  position: fixed;
  top: 100px;
  right: 15px;
  height: 3rem;
  width: 3rem;
  color: white;
  cursor: pointer;
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
/* Responsive */

@media (max-width: 1000px) {
  .navbar-right > li > a {
    font-size: 13px !important;
  }
}

@media (max-width: 920px) {
  .navbar-right > li > a {
    font-size: 12px !important;
  }
}

@media (max-width: 850px) {
  .navbar-right > li > a {
    font-size: 10px !important;
  }
}

@media (max-width: 768px) {
  #bs-example-navbar-collapse-1 {
    margin-top: 15px;
  }
  #about img {
    margin: 50px 0;
  }
  #menu .container-nav {
    display: block;
  }
  #header .social-media-list {
    position: relative;
    display: flex;
    text-align: center;
  }
  #header .overlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro #IITI {
    font-size: 30px;
  }
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
  }
  .imageabout {
    display: none !important;
  }
  .about-text p {
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: justify !important;
  }
  .about-text i {
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: justify !important;
  }
  .about-text h2 {
    font-size: 30px !important;
  }
  #events #desc {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 30px !important;
  }
  .section-title h2 {
    font-size: 30px !important;
  }
  .whatWeDo {
    margin: 10px 30px 30px 30px !important;
  }
  #whatWeDoContainer .whatWeDo-desc {
    margin: 0px 0px 0px !important;
  }
  .intro-text h1 {
    font-size: 50px !important;
  }
  #ourteam .container {
    padding: 30px;
    width: 100%;
  }
  .section-title h2 {
    font-size: 30px !important;
    width: 100% !important;
  }
  html {
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {

  .intro-text h1 {
    font-size: 40px !important;
  }

  .intro #IITI {
    font-size: 20px;
  }
  .intro #quote {
    font-size: 20px;
  }

  .intro .btn {
    font-size: 10px;
    padding: 10px 15px;
  }
  #ourteam .container {
    padding: 20px;
    width: 100%;
  }
  .about-text h2 {
    font-size: 24px !important;
  }
  .section-title h2 {
    font-size: 24px !important;
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  .intro-text h1 {
    font-size: 30px !important;
  }
  .intro #IITI {
    font-size: 16px;
  }
  .intro #quote {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .section-title h2 {
    font-size: 21px !important;
    width: 100% !important;
  }
}

@media (max-width: 300px) {
  .intro-text h1 {
    font-size: 20px !important;
  }
  .intro #IITI {
    font-size: 12px;
  }
  .intro #quote {
    font-size: 12px;
  }
}